*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: aliceblue;
    padding: 40px;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: auto;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbb-lcbMyCLIG6bzI_X9zmti5ftynD8yq5PGwp6z9J6ny9K4HsWXpbEKs&s=10");
    background-size: cover;
    background-position: center;
    display: grid;
    align-items:start;
    justify-items:end;
}
.content{
    width: 100%;
    color: white;
    padding: 50px;
    display: grid;
    align-items: end;
    justify-items: end;
}
.content h1{
    font-size:48px;
    margin-bottom:20px;
}
.content p{
    margin-bottom:30px;
    line-height:1.6;
}
.content button{
    width:170px;
    padding:15px;
    border:none;
    border-radius:8px;
    background:#0d6efd;
    color:white;
    cursor:pointer;
}
.content button:hover{
    background:#084fc7;
}
@media (max-width:390px){

    body{
        padding:20px;
        border: 1px solid red;
    }
    .container{
        height:100%;
    }
    .content{
        padding:20px;
    }
    .content h1{
        font-size:30px;
    }
    .content p{
        font-size:16px;
    }
    .content button{
        width:50%;
        padding:12px;
    }

}